<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo de la tarea" [(ngModel)]="taskTitle" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Descripcion de la tarea" [(ngModel)]="taskDescrptions" ></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="addTask()">
        Añadir Tarea
    </button>
</mat-card>